@page
@model Copernicus_Weather.Pages.ApodFavoritesModel

@{
    ViewData["Title"] = "ApodFavorites";
}

<h1>ApodFavorites</h1>

@foreach (var apod in Model.ApodList)
{
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@(apod.LocalUrl)" alt="Astronomy Picture of the Day">
    <div class="card-body">
        <h5 class="card-title">@(apod.Title)</h5>
        <p class="card-text">@(apod.Explanation)</p>
        <a href="@(apod.HdUrl)" class="btn btn-primary">HD Image</a>
    </div>
</div>
}