@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background-image: url(@Model.PictureUrl);
        background-position: center;
        background-size: cover;
    }

    .alert {
        display: none;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="alert alert-success" role="alert">
    This is a success alert—check it out!
</div>

@if (!Model.FavoredByCurrentUser)
{
<button class="btn btn-primary addToFavorites" type="submit">Add to favorites</button>
}

@Html.AntiForgeryToken()

<input type="hidden" class="apodId" value="@(Model.ApodId)">

<script>
    var addToFavoritesButton = document.querySelector('.addToFavorites');
    var apodId = document.querySelector('.apodId').value;
    addToFavoritesButton.addEventListener('click', addToFavorites);
    async function addToFavorites() {
        const url = '/?handler=addToFavorites';
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'RequestVerificationToken': document.querySelector(
                    'input[name="__RequestVerificationToken"]').value,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(apodId)
        });
        response.json().then(numberOfChanges => {
            console.log(numberOfChanges);
            if (numberOfChanges === 1) {
                addToFavoritesButton.style.display = 'none';
                var alert = document.querySelector('.alert');
                alert.style.display = 'block';
                setTimeout(() => {
                    alert.style.display = 'none';
                }, 3000);
            }
        });
    }
</script>

@* <iframe width="420" height="315" src="https://www.youtube.com/embed/UJfpqSj7cCs?rel=0" allow="autoplay; encrypted-media"
    allowfullscreen>
</iframe> *@